# ===================================
# Android Studio & IntelliJ
# ===================================

*.iml
.gradle
/local.properties

# IntelliJ project files
.idea/*
!.idea/gradle.xml
!.idea/misc.xml

# ===================================
# Build & intermediate files
# ===================================

/build
/captures
.externalNativeBuild
.cxx

# ===================================
# Others
# ===================================

# Mac system file
.DS_Store

# Log files
*.log