# ===================================
# Android Studio & IntelliJ
# ===================================

*.iml
.gradle
/local.properties
.DS_Store

# IntelliJ project files
.idea/*
!.idea/gradle.xml
!.idea/misc.xml

# Optional: if you're using these configs across team, un-ignore them
# !.idea/modules.xml
# !.idea/workspace.xml

# ===================================
# Build & intermediate files
# ===================================

/build
/captures
.externalNativeBuild
.cxx

# ===================================
# Others
# ===================================

# Mac system file
.DS_Store

# Log files
*.log
